{% extends 'task_app/tasklist_base.html' %}

{% block task-content %}
<div id="tasklist">

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>タスクリスト</h1>
      <form v-on:submit.prevent="addItem()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="タスクを入力" v-model="newItem.text" required="required">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <!-- task -->
    <div class="col-xs-12 col-md-6 col-lg-6">
      <h3>未完了</h3>
      <div class="list">
        <ul class="list-group" v-for="item in items">
          <li class="list-group-item">
            <form v-on:submit.prevent="addDoneItem(item.text)">
              <button class="btn btn-sm btn-outline-danger" v-on:click="deleteItem(item.task_id)">－</button>
              ${ item.text }
            </form>
          </li>
        </ul>
      </div>
    </div>

    <!-- task done -->
    <div class="col-xs-12 col-md-6 col-lg-6">
      <form v-on:submit.prevent="deleteAllDoneItem()">
        <h3>完了済み
        <button class="btn btn-danger">全て削除</button>
        </h3>
      </form>

      <ul class="list-group" v-for="doneItem in doneItems">
        <li class="list-group-item">
          <form v-on:submit.prevent="addNewItem(doneItem.text)">
            <button class="btn btn-sm btn-outline-primary" v-on:click="deleteDoneItem(doneItem.task_id)">＋</button>
            ${ doneItem.text }
          </form>
        </li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
